*{ margin: 0; padding: 0; font-family: Roboto}

html{
    font-size: 62.5%;

}

.top-bar{
    background-color: #403C57;
    display:flex; 
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    border-bottom: #e8491d 2px solid;
    
}
.logo{
    color: #fff;
    flex: 1;
    font-size: 3rem;
    padding:10px;
    text-transform: uppercase;
    margin: auto;
}
.menu{
    flex: 3;
    
}
.menu ul{
    display: flex;
    list-style: none;
    margin: auto;
    flex-flow: row wrap;
}
.menu ul li{
    flex: 1;
    text-align: center;
}
.menu ul li a{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}
/*banner*/
.banner {
    background-image: url("../IMAGES/undraw_community_8nwl.png");
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 500px;

}
.banner h1{
    font-size: 5rem; 
    color: #403C57;
    margin-top: 5px; 
    font-style: bold;
    letter-spacing: 2px;

}

.banner-text-items{
color:#403C57;
margin: auto;

}
.banner-text-items{
    font-size: 3em;
    margin-bottom: 20px;
    font-style: bold; 
    text-transform: uppercase

}
.banner-text-items p{
font-size: 2rem;

}
.why-content{
    margin: 20px;
    color:#403C57
    }
.why-content h1{
    font-size: 4rem;
    font-style: bold;
}
.why-content p{
    font-size: 2.5rem; 
}
.why-content a{
    text-decoration: none;
}
.why-content blockquote{
  margin-top: 10px;  
    text-align: center;
  font-style: italic;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.why-content .source{
    font-size: 2rem; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.explainer-content{
    margin: 20px;
    color:#403C57
    }
.explainer-content h1{
    font-size: 4rem;
    font-style: bold;
}
.explainer-content p{
    font-size: 2.5rem; 
}


/*main-content*/
.main-content{
    display:flex;
    flex-flow: row wrap;
    
}
.main1{
    flex: 1;
    padding: 3%;
    text-align: center;
    margin: 20px;
    border: 1px solid #e8491d;
    border-radius: 20px;
    background: #403C57;
    color: white;
    box-shadow: 5px 3px 3px gray;

}

.cta{
    margin: 20px;
    color:#403C57;
    text-align: center;
    }
.cta h2{
    font-size: 3rem;
    font-style: bold;
}   
.calc-button{
 background-color: #e8491d;
 border: 2px solid white;
 color: white;
 padding: 20px 72px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 border-radius: 15px;
 }
   
 .footer-container{
    font-size: 1.50rem;
    display: flex; 
    justify-content: space-around;
    text-align: center;
    font-style: bold;
    
 }

/*contact*/
.contact-items{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact {
    background: url("../IMAGES/undraw_preparation_rrih.png");
    background-size: cover;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}
.contact-items h2 {
    color: #000;
    font-size: 40px;
    margin-bottom: 18px;
}
.contact-items input[type="text"] {
 border-radius: 10px;
 margin-bottom: 15px; 
 padding: 15px;
 width: 50%;   
}
.contact-items textarea{
    border-radius: 10px;
    height: 150px;
    padding: 15px;
    width: 50%;
}
.contact-items a{
    background: #da4b29;
    color: #fff;
    display: block;
    font-size: 20px;
    margin-top: 25px;
    padding: 15px 80px;
    text-decoration: none;
    text-transform: uppercase;
}
.highlight {
    color: #e8491d; 
    font-weight: bold;
}
